schemas/renderingsettings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://github.com/ome/omero-cli-transfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CLITransferRenderingSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Channels">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Channel" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:boolean" name="active"/>
                    <xs:element name="color">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="#(([0-9]|[a-f]){3}|([0-9]|[a-f]){6})">
                                </xs:pattern>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element type="xs:decimal" name="end"/>
                    <xs:element type="xs:string" name="label"/>
                    <xs:element type="xs:decimal" name="max"/>
                    <xs:element type="xs:decimal" name="min"/>
                    <xs:element type="xs:decimal" name="start"/>
                  </xs:sequence>
                  <xs:attribute type="xs:ID" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:boolean" name="greyscale"/>
        <xs:element type="xs:integer" name="t"/>
        <xs:element type="xs:string" name="version"/>
        <xs:element type="xs:integer" name="z"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>